.leftSidebar{
    padding: 1.8rem 0;

    &__heading{
        display: flex;
        align-items: center;
    }

    &__accountInfo{
        margin-top: 1.8rem;
    }

    &__accountOptions{
        margin-top: 1.8rem;
    }

    &__lineBreak{
        margin: 1.8rem 0;
    }

    &__optionHeading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}