.leftSidebar{
    padding: 1rem 0;

    &__heading{
        display: flex;
        align-items: center;
    }

    &__accountInfo{
        margin-top: 1.8rem;
    }

    &__accountOptions{
        margin-top: 1.8rem;
    }

    &__lineBreak{
        margin: 1.8rem 0;
    }

    &__optionHeading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__pageOptions{
        &__map{
            &:hover{
                border-radius: 12px;
                // height: 40px;
                padding: 2px 10px 10px 10px;
                margin: 10px 0;
                width: 100%;
                background-color: rgba(54, 236, 160, 0.716);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
        }
    }
    
}

.active{
    border-radius: 12px;
        // height: 40px;
        padding: 2px 10px 10px 10px;
        margin: 10px 0;
        width: 100%;
        background-color: rgba(54, 236, 160, 0.716);
        cursor: pointer;
    
}