.button{

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        border: none;
        border-radius: 12px;
        cursor: pointer;

        p{
            font-size: 18px;
            font-weight: 600;
        }
    }
}