.mainPage{
    display: grid;
    grid-template-columns: 0.8fr 3.2fr;
    height: 100vh;
    background-color: #d7d7d7;

    &__left{
        // border: 1px solid;
    }

    &__right{
        // border: 1px solid;
        padding: 0.8rem;
    }
}