.todoMainTaskCard{
    padding: 10px;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content{
        // border: 1px solid;
        width: 100%;
        margin: 1rem auto;
    }

    &__tags{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 5px auto;

        &__left{
            display: flex;
            margin-left: -5px;
            width: 50%;
            flex-wrap: wrap;

            &__item{
                background-color: rgb(212, 212, 212);
                padding: 5px 8px;
                border-radius: 8px;
                margin-left: 5px;

                p{
                    font-size: 10px;
                    font-weight: bold;
                    color: gray;
                }
            }
        }

        &__right{
            display: flex;
            align-items: center;

            p{
                font-size: 12px;
                font-weight: bold;
                color: gray;
            }
        }
    }

    &__footer{
        width: 100%;
        display: flex;
        margin-left: 10px;
        margin-top: 1rem;
        &__avatar{
            width: 30px;
            height: 30px;
            margin-left: -10px;
            border: 1px solid !important;
            -webkit-box-shadow: 2px 2px 10px 2px #d5d5d5; 
            box-shadow: 2px 2px 5px 2px #d5d5d5;
        }
    }
}